html {
    height: 100%;
    width: 100%;
}

body {
    font: 14px "Arial", Futura, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#root {
    height: 100%;
    width: 100%;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 5em;
    padding: 1em;
    background-color: slategrey;
}

.sidebarButtons {
    flex: 1;
}

.sidebarButtonWrapper {
    display: flex;
    width: 5em;
    height: 5em;
    align-items: center;
    background-color: lightgrey;
    margin-bottom: 1em;
    border-radius: 5em;
    justify-content: center;
    cursor: pointer;
}

.sidebarButtonWrapper:hover {
    background-color: darkgrey;
}

.sidebarButton {
    font-size: 200%;
    color: grey;
}

.mainContainer {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    overflow-y: auto;
}

.title {
    width: 100%;
    position: relative;
}

.titleWrapper {
    font-size: 400%;
    font-weight: bold;
    margin: 0.5em;
    display: flex;
    justify-content: center;
}

.customer {
    position: absolute;
    font-size: 200%;
    font-weight: bold;
    margin: 1.6em;
    display: flex;
    justify-content: center;
}

.titleStatus {
    margin-right: 0.5em;
}

.loading {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1000%;
    color: grey;
}

.dashboard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: wrap;
    align-content: baseline;
}

.deviceWrapper {
    flex: 0 0 calc(33.3333% - 3.5em);
    margin: 1em;
    border: 1px solid black;
    border-radius: 0.5em;
    cursor: pointer;
}

.deviceHead {
    display: flex;
    height: 5em;
    align-items: center;
    width: 100%;
}

.deviceBody {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5em 0.5em 0.5em 1em;
}

.deviceStatWrapper {
    flex: 0 0 40%;
    display: flex;
    margin: 0.5em;
}

.deviceSubStatus {
    margin-right: 0.5em;
}

.subStatWrapper {
    margin: 1em 0 0 0;
}

.deviceStatus {
    margin: 0.5em;
    font-size: 200%;
}

.green {
    color: lightgreen;
}

.yellow {
    color: orange;
}

.red {
    color: red;
}

.grey {
    color: grey;
}

.deviceName {
    font-size: 150%;
    flex: 1 1 100%;
}

.deviceWrapper:hover {
    border-color: grey;
}

.deviceWrapper:hover .deviceName {
    color: grey;
}

.deviceWrapper:hover .deviceStatWrapper {
    color: grey;
}

.deviceMenu {
    position: relative;
    float: right;
    font-size: 150%;
    color: grey;
    cursor: pointer;
}

.deviceMenu:hover {
    color: lightgrey;
}

.deviceMenu {
    font-size: 150%;
    color: grey;
    width: 1.5em;
    cursor: pointer;
}

.deviceDetails {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: wrap;
    align-content: baseline;
}

.deviceDetailsStat {
    flex: 0 0 calc(50% - 3.5em);
    margin: 1em;
    border: 1px solid black;
    border-radius: 0.5em;
    height: fit-content;
}

.deviceDetailsHead {
    display: flex;
    height: 5em;
    align-items: center;
    width: 100%;
}

.deviceDetailsStatus {
    margin: 0.5em;
    font-size: 200%;
}

.deviceDetailsname {
    flex: 1 1 100%;
    font-size: 150%;
}

.deviceDetailsBody {
    display: flex;
    flex-wrap: wrap;
    margin: 1em 0.5em 1em 1.5em;
    font-size: 125%;
    height: 100%;
    flex-direction: column;
}

.mapContainer {
    width: 100%;
    height: 100%;
    display: flex;
}

.mapElement {
    width: 100%;
    display: flex;
    margin: 0.5em;
}

.login {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loginDetailsWrapper {
    display: flex;
    width: 22em;
    margin: 1em;
    align-items: center;
}

.label {
    flex: 0 0 0%;
    font-size: 1.5em;
}

.loginInputWrapper {
    flex: 1 1 100%;
}

input {
    float: right;
    border: 1px black solid;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
}

.loginButton {
    margin: 1em;
    margin-bottom: 5em;
    border: 1px black solid;
    padding: 0.5em 1.5em;
    border-radius: 0.25em;
    cursor: pointer;
}

.loginButton:hover {
    border-color: grey;
    color: grey
}

.logout {
    font-size: 110%;
    color: lightgrey;
    width: 100%;
    text-align: center;
    border: 1px lightgrey solid;
    padding: 0.25em 0em;
    border-radius: 0.25em;
    cursor: pointer;
    margin-bottom: 0.25em;
}

.logout:hover {
    border-color: darkgrey;
    color: darkgrey;
}

.newDeviceWrapper {
    flex: 0 0 calc(33.3333% - 3.5em);
    margin: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 18.53em;
}

.newDevice {
    font-size: 750%;
    cursor: pointer;
    color: grey;
}

.newDevice:hover {
    color: darkgrey;
}

.deviceDetailsMap {
    height: 30em;
    width: 100%;
}

.deviceManagerInputWrapper {
    flex: 1 1 100%;
}

.deviceManagerElement {
    display: flex;
    width: 25em;
    align-items: center;
    margin: 1em;
}

.sensorSelectionWrapper {
    display: flex;
    flex-direction: column;
    width: 25em;
    margin: 1em;
}

.deviceManager {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-bottom: 10em;
}

.sensorSelection {
    margin: 1em;
    font-size: 90%;
}

.sensorSelector {
    display: flex;
    align-items: baseline;
    margin: 0.5em;
}

.checkboxWrapper {
    flex: 1;
}

.checkbox {
    cursor: pointer;
    font-size: 125%;
    float: right;
}

.checkbox:hover {
    color: grey;
}

.editButton {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 1em;
    height: 3em;
    width: 3em;
    background-color: darkgrey;
    border-radius: 5em;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.5em;
    cursor: pointer;
}

.editButton:hover {
    background-color: lightgrey;
}

.doneButton {
    margin: 1em;
    margin-bottom: 5em;
    border: 1px black solid;
    padding: 0.5em 1.5em;
    border-radius: 0.25em;
    cursor: pointer;
}

.doneButton:hover {
    border-color: grey;
    color: grey;
}

.graphWrapper {
    margin-top: 1em;
}

.loginInput.error {
    border-color: red;
}

.label.error {
    color: red;
}